<div class="container" >

<!-- <div class="row"*ngFor="let prf of navigationData" style="min-width: 80px ;min-height: 30px; border: 1px solid cornflowerblue;border-radius: 22px;">
{{prf[0]}}

<div  style="min-width: 50px ;min-height: 30px; border: 1px solid cornflowerblue;border-radius: 22px;">
    helllllllo
</div>
</div> -->
<!-- <div  *ngFor="let prf of navigationData" >
    <button style="min-width: 80px ;min-height: 30px; border: 1px solid cornflowerblue;border-radius: 22px;" >{{prf[0]}}</button>
    <div  *ngFor="let prf2 of prf[1]">
        <p style="border-radius: 22px;border: 1px solid coral;">{{prf2.brokerName}}</p>
    </div>
  </div>-->



</div> 


