<!-- <div id="headerDiv" class="container-fluid">
<span style="color: white;font-family: monospace;">welcome {{loggedInUserId}}</span>
</div> -->
<div class="row mt-2">
    <div class="col-sm">
      <tabset id="tabset">
        <tab heading="Equity Delivery" id="tab1">
  <!-- Equity futures form starts -->
         <app-equity-delivery></app-equity-delivery>
  
        
        </tab>
        <tab heading="Equity Intraday" id="tab2">
          <!-- <app-equity-intraday></app-equity-intraday> -->
          <app-equity-delivery></app-equity-delivery>

          
        </tab>
        <tab heading="Equity Futures" id="tab3">
          <!-- <app-equity-futures></app-equity-futures> -->
          <!-- <app-equity-futures></app-equity-futures> -->
          <app-equity-delivery></app-equity-delivery>

        </tab>
        <tab heading="Equity Options" id="tab1">
          <!-- <app-equity-options></app-equity-options> -->
          <app-currency-options></app-currency-options>

        </tab>
        <tab heading="Currency Futures" id="tab2">
          <!-- <app-currency-futures></app-currency-futures> -->
          <app-equity-delivery></app-equity-delivery>

        </tab>
        <tab heading="Currency Options" id="tab3">
          <app-currency-options></app-currency-options>
          
        </tab>
        <tab heading="Commodity" id="tab3">
          <!-- <app-commodity></app-commodity> -->
          <app-equity-delivery></app-equity-delivery>

    
        </tab>
      </tabset>
    </div>
    
    <!-- <div class="col-sm-3 ">
  
      <div class="card-body shadow">
        <h5 class="card-title" style="color: cornflowerblue;">Zuari Finserv Brokerage Calculator</h5>
        <p class="card-text">
          This Zuari Finserv Brokerage Calculator will help you to find out the actual and latest brokerage charges of Zuari Finserv Limited.
        </p>
        <p class="card-text"><small class="text-muted">
          You can calculate brokerage for all asset classes like Equity Intraday, Equity Delivery, Equity Futures, Equity Options, Currency Futures, Currency Options & Commodity.
  
  Along with Brokerage charges, it will also give you detailed understanding of other charges like transaction charges, STT, Stamp Duty for each State, SEBI turnover charges, GST & Transaction Charges. Just provide your Buy & Sell details & hit calculate
        </small></p>
      </div>
    </div> -->
  </div>
  
  
  
  
  