<div class="container-fluid rounded mt-3  p-0 shadow" id="home-div-1">    
    <div class="row">
        <div class="col-sm-3">
            <!-- side 1/3 for calculator and result -->
        </div>


        <div class="col-sm-7 rounded shadow" id="middleDiv">            
            <!-- side 2/3  COMPANY WILL BE LOADED HERE -->
            <router-outlet></router-outlet>
        </div>


        <div class="col-sm-2  " style="min-height:500px;" id="side31">
            <!-- ALL ALERTS RELATED TO COMPANY HERE  -->
            <div class="card shadow" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
               </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>

    </div>